name: publish

on:
  release:
    types: [created]

jobs:
  build-and-publish-on-pypi:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements/dev.in
    - name: Build package
      run: |
        python setup.py build_ext --inplace
        python setup.py sdist
    - name: Publish package
      env:
        TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
      run : |
        twine upload -u __token__ dist/*
